* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 140px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  background-color: #121212;
}

body.fade-out {
  opacity: 0;
}

.header-principal {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 40px; 
    background-color: #121212;
}

.brand-header {
    display: flex;
    align-items: center;      
    gap: 12px;
}

.logo-img {
    width: 52px; 
    height: auto;
    border-radius: 8px;
}

.brand-header h2 {
    color: #E0E0E0;
    font-size: 32px;
    font-family: 'Jost', sans-serif;
    margin: 0;
}

.menu {
    display: flex;
    gap: 15px;
}

.btn-menu {
    color: #ffffff;           
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;     
    font-family: 'Jost', sans-serif;   
    padding: 8px 16px;   
    background-color: #08d88594;   
    border-radius: 8px;   
    transition: background-color 0.2s ease;
}

.btn-menu:hover {
    background-color: #08d884;
}